- todo = $component.todo
div
  if todo
    li(class=todo.completed ? 'completed' : todo.id === editing ? 'editing' : '')
      .view
        input.toggle(
          type="checkbox"
          checked=todo.completed
          onchange=$helpers.checkTodo
        )
        label(ondblclick=$helpers.editTodo)= todo.title
        button.destroy(onclick=$helpers.deleteTodo)
      input.edit(
        onblur=$helpers.updateTodo
        onkeyup=$helpers.editTodoKeyup
        value=todo.title
      )
